<html xmlns='http://www.w3.org/1999/xhtml'>

  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <!--[if mso]><style type="text/css">body, table, td, a { font-family: Arial, Helvetica, sans-serif !important; }</style><![endif]-->
  </head>

  <body
    style='font-family: Helvetica, Arial, sans-serif; margin: 0px; padding: 0px; background-color: #ffffff;'
  >
    <table
      role='presentation'
      style='width: 100%; border-collapse: collapse; border: 0px; border-spacing: 0px; font-family: Arial, Helvetica, sans-serif; background-color: rgb(239, 239, 239);'
    >
      <tbody>
        <tr>
          <td
            align='center'
            style='padding: 1rem 2rem; vertical-align: top; width: 100%;'
          >
            <table
              role='presentation'
              style='max-width: 600px; border-collapse: collapse; border: 0px; border-spacing: 0px; text-align: left;'
            >
              <tbody>
                <tr>
                  <td style='padding: 40px 0px 0px;'>
                    <div style='text-align: left;'>
                      <div style='padding-bottom: 20px;'>
                        <img
                          src='cid:unique@nodemailer.com'
                          alt='Multi-Vendor SaaS'
                          style='width: 56px;'
                        />
                      </div>
                    </div>
                    <div
                      style='padding: 20px; background-color: rgb(255, 255, 255);'
                    >
                      <div style='color: rgb(0, 0, 0); text-align: left;'>
                        <h1 style='margin: 1rem 0'>{{contentTitle}}</h1>
                        {{#if recipientName}}
                          <p style='padding-bottom: 16px'>Hello
                            {{recipientName}},</p>
                        {{/if}}
                        <p style='padding-bottom: 16px'>{{description}}</p>
                        <p style='padding-bottom: 16px'>
                          <strong
                            style='font-size: 130%; background-color: #f4f4f4; padding: 10px 15px; border-radius: 4px; letter-spacing: 5px;'
                          >{{code}}</strong>
                        </p>
                        <p style='padding-bottom: 16px'>
                          <span style='color: #FF9900; font-weight: bold;'>⚠️
                            Security Notice:</span>
                          This code will expire in
                          {{expiresInMinutes}}
                          minutes for security reasons.
                        </p>
                        <p style='padding-bottom: 16px'>{{securityNote}}</p>
                        <p style='padding-bottom: 16px'>{{note}}</p>
                        <p style='padding-bottom: 16px'>Regards,<br
                          />Multi-Vendor SaaS Security Team</p>
                      </div>
                    </div>
                    <div
                      style='padding-top: 20px; color: rgb(153, 153, 153); text-align: center;'
                    >
                      <p style='padding-bottom: 16px'>©
                        {{currentYear}}
                        Multi-Vendor SaaS. All rights reserved.</p>
                      <p style='padding-bottom: 16px'>If you didn't request this
                        code, please contact security@multi-vendor-saas.com
                        immediately.</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>

</html>